---
layout: compress
---

<!DOCTYPE html> <head>{% if page.katex %}

<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"/>

<!-- JavaScript -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.min.js"
  onload="renderMathInElement(document.body,{
    delimiters: [
      { left: '$$',  right: '$$',  display: true  },
      { left: '$',   right: '$',   display: false },
      { left: '\\[', right: '\\]', display: true  },
      { left: '\\(', right: '\\)', display: false }
  ]});">
</script>

{% endif %}</head>
<html lang="en">

    {% if page.title != 'index' %}
        {% include head.html %}
        {% include custom-head.html %}
    {% else %}
        {% include index_head.html %}
    {% endif %}

<body id="page-top" class="landing-page">

    {% if page.title != 'index' %}
        {% include blog_header.html %}
        {% include custom-head.html %}
    {% endif %}

    {{ content }}

    {% if page.title != 'index' %}
        {% include foot.html %}
    {% else %}
        {% include index_foot.html %}
    {% endif %}

</body>
</html>

<script src=”https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id=”MathJax-script” async src=”https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

